.card {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 40px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}
