.textarea {
  display: block;
  padding: 10px 12px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f8fa;
  border: 1px solid #d3d9de;
  border-radius: 6px;
  font-size: 15px;
  line-height: 20px;
  font-family: inherit;
  height: 42px;
  max-height: 120px;
  resize: none;
}

.counter {
  font-size: 12px;
  line-height: 14px;
  color: #5c5f60;
  display: block;
}

.counter.redCounter {
  color: #e64646;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}
